<!DOCTYPE html><html lang='en'>
<head>
  <title>DocNotes | Smart dashboard for hospitals</title>
  <meta charset="utf-8">
  <meta content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width, minimal-ui" name="viewport">
  <meta content="yes" name="mobile-web-app-capable">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="DocNotes | Smart dashboard for hospitals" name="title">
  <meta content="Smart dashboard for hospitals to communicate efficient patient data between doctors and nurses to reduce human errors." name="description">
  <meta content="DocNotes | Smart dashboard for hospitals" property="og:title">
  <meta content="Smart dashboard for hospitals to communicate efficient patient data between doctors and nurses to reduce human errors." property="og:description">
  <meta content="website" property="og:type">
  <meta content="http://docnotes.com" property="og:url">
  <!-- Twitter-->
  <meta content="DocNotes | Smart dashboard for hospitals" name="twitter:site">
  <meta content="DocNotes | Smart dashboard for hospitals" name="twitter:title">
  <meta content="Smart dashboard for hospitals to communicate efficient patient data between doctors and nurses to reduce human errors." name="twitter:description">
  <meta content="summary" name="twitter:card">
  <link href="images/logo.png" rel="icon" type="image/png">
  <link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <h1>This is a headline</h1>
  <script type="text/javascript" src="js/script.min.js"></script>
</body></html>