<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DocNotes | Smart dashboard for hospitals</title>
    <meta charset="utf-8">
    <meta content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width, minimal-ui" name="viewport">
    <meta content="yes" name="mobile-web-app-capable">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="DocNotes | Smart dashboard for hospitals" name="title">
    <meta content="Smart dashboard for hospitals to communicate efficient patient data between doctors and nurses to reduce human errors." name="description">
    <meta content="DocNotes | Smart dashboard for hospitals" property="og:title">
    <meta content="Smart dashboard for hospitals to communicate efficient patient data between doctors and nurses to reduce human errors." property="og:description">
    <meta content="website" property="og:type">
    <meta content="http://docnotes.com" property="og:url">
    <!-- Twitter-->
    <meta content="DocNotes | Smart dashboard for hospitals" name="twitter:site">
    <meta content="DocNotes | Smart dashboard for hospitals" name="twitter:title">
    <meta content="Smart dashboard for hospitals to communicate efficient patient data between doctors and nurses to reduce human errors." name="twitter:description">
    <meta content="summary" name="twitter:card">
    <link href="images/logo.png" rel="icon" type="image/png">
    <link href="css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <nav><a href="#" class="logo"><img src="images/logo@2x.png" rel="DocNotes logo" width="60"></a>
      <div class="menu"><a href="#" class="icon icon--ambulance active">Patients</a><a href="#" class="icon icon--emergencies">Emergencies</a><a href="#" class="icon icon--history">History</a><a href="#" class="icon icon--help">Help Center</a></div>
    </nav>
    <section>
      <div class="header">
        <div class="wrap float--right"><a href="#" class="btn  btn--add"><span class="plus">+</span><span>Add patient</span></a>
          <div class="float--right"><a href="#" class="icon icon--notification">Notification</a><a href="#" class="icon icon--calendar">Calendar</a><a href="#" class="icon icon--off">Log out</a></div>
        </div>
      </div>
      <div class="content--info">
        <div class="client float--left">
          <p>Hospital</p><img src="images/hospital.png" rel="Gleneagles hospital" width="150">
        </div>
        <div class="ward float--right">
          <p>Ward</p>
          <select name="select">
            <option value="value 1">value 1</option>
            <option value="value 2">value 2</option>
            <option value="value 3">value 3</option>
          </select>
        </div>
      </div>
      <div class="content--summary">
        <div class="summary">
          <div class="number">47</div>
          <div class="title">Patients in ward</div>
          <div class="divider"></div>
          <div class="gallery"><img src="images/patient_one.png" alt="Patient" width="42"><img src="images/patient_two.png" alt="Patient" width="42"><img src="images/patient_three.png" alt="Patient" width="42"></div>
        </div>
        <div class="summary">
          <div class="number">4</div>
          <div class="title">Emergencies</div>
          <div class="divider"></div>
          <div class="gallery"><img src="images/patient_one.png" alt="Patient" width="42"><img src="images/patient_two.png" alt="Patient" width="42"><img src="images/patient_three.png" alt="Patient" width="42"></div>
        </div>
        <div class="summary">
          <div class="number">14</div>
          <div class="title">Discharged<span>(Last week)</span></div>
          <div class="divider"></div>
          <div class="gallery"><img src="images/patient_one.png" alt="Patient" width="42"><img src="images/patient_two.png" alt="Patient" width="42"><img src="images/patient_three.png" alt="Patient" width="42"></div>
        </div>
      </div>
      <div class="content--filters">
        <div class="search float--left">
          <p>Search</p>
          <input type="search" value="search" name="Search">
        </div>
        <div class="sort float--right">
          <p>Sort by</p>
          <select name="select">
            <option value="value 1">value 1</option>
            <option value="value 2">value 2</option>
            <option value="value 3">value 3</option>
          </select>
        </div>
      </div>
      <div class="content--tables">
        <table width="100%">
          <tr>
            <th>No</th>
            <th>Patient name</th>
            <th>Admission date</th>
            <th>Schedule</th>
            <th>Emergencies</th>
            <th>Status</th>
          </tr>
          <tr>
            <td>202</td>
            <td>Rossi Mario</td>
            <td>Mon 23rd Jan 2016</td>
            <td class="onTime">On time</td>
            <td>Null</td>
            <td class="discharged">Discharged</td>
          </tr>
          <tr>
            <td>202</td>
            <td>Rossi Mario</td>
            <td>Mon 23rd Jan 2016</td>
            <td class="onPending">Pending</td>
            <td>Null</td>
            <td class="onActive">Active</td>
          </tr>
          <tr>
            <td>202</td>
            <td>Rossi Mario</td>
            <td>Mon 23rd Jan 2016</td>
            <td class="delayed">Delayed</td>
            <td>Null</td>
            <td class="discharged">Discharged</td>
          </tr>
          <tr>
            <td>202</td>
            <td>Rossi Mario</td>
            <td>Mon 23rd Jan 2016</td>
            <td class="onTime">On time</td>
            <td>Null</td>
            <td class="onActive">Active</td>
          </tr>
          <tr>
            <td>202</td>
            <td>Rossi Mario</td>
            <td>Mon 23rd Jan 2016</td>
            <td class="delayed">Delayed</td>
            <td>Null</td>
            <td class="onActive">Active</td>
          </tr>
          <tr>
            <td>202</td>
            <td>Rossi Mario</td>
            <td>Mon 23rd Jan 2016</td>
            <td class="onTime">On time</td>
            <td>Null</td>
            <td class="onActive">Active</td>
          </tr>
        </table>
      </div>
    </section>
    <script type="text/javascript" src="js/script.min.js"></script>
  </body>
</html>